.advantages {
  //padding: 30px 0;

  @media (min-width: @tablet) {
    padding: 0;
  }
}

.advantages__container {
  .container;
  padding: 30px 30px 29px 30px;

  @media (min-width: @tablet) {
    padding-top: 55px;
    padding-bottom: 28px;
  }

  @media (min-width: @desktop) {
    padding: 75px 175px 35px;
  }
}

.advantages__title {
  margin-bottom: 28px;

  @media (min-width: @tablet) {
    margin-bottom: 43px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 41px;
  }
}

.advantages__list {
  .clear-list;
  font-weight: 700;
  line-height: 20px;
  color: @black;

  @media (min-width: @tablet) {
    column-count: 2;
    column-width: 334px;
    column-gap: 0;
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item {
  padding: 55px 0 20px;
  margin-bottom: 8px;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: @tablet) {
    margin-bottom: 55px;
    padding-bottom: 0;
    /*
    &:nth-child(3n) {
      margin-bottom: 0;
    } убирает марджины у элементов в конце колонки,
    но тогда при переполнении блоками li правило сработает некорректно
    */
  }

  &--pure {
    background-image: url("../img/icons/pure.svg");
    background-position: 8px 0;
  }

  &--nordic {
    background-image: url("../img/icons/nordic.svg");
  }

  &--likes {
    background-image: url("../img/icons/heart-likes.svg");
    background-position: 7px 6px;
  }

  &--cute {
    background-image: url("../img/icons/yarn.svg");
    background-position: 3px 3px;
  }

  &--homies {
    background-image: url("../img/icons/rocket.svg");
    background-position: -5px 4px;
  }

  &--present {
    background-image: url("../img/icons/present.svg");
    background-position: 3px 2px;
  }
}
