.advantages {
  @media (min-width: @tablet) {
    padding: 0;
  }
}

.advantages__container {
  .container;
  padding: 30px 30px 29px 30px;

  @media (min-width: @tablet) {
    padding-top: 56px;
    padding-bottom: 28px;
  }

  @media (min-width: @desktop) {
    padding: 65px 175px 35px;
  }
}

.advantages__title {
  margin-bottom: 28px;

  @media (min-width: @tablet) {
    margin-bottom: 43px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 41px;
  }
}

.advantages__list {
  .clear-list;
  display: grid;
  row-gap: 8px;
  font-weight: 700;
  line-height: 20px;
  color: @black;

  @media (min-width: @tablet) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 55px;
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item {
  padding: 55px 0 20px;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (max-width: @tablet - 1) {
    &:nth-child(2n) {
      order: 1;
    }
  }

  @media (min-width: @tablet) {
    padding-bottom: 0;
    padding-right: 20px;
  }

  &--pure {
    background-image: url("../img/icons/pure.svg");
    background-position: 8px 0;
  }

  &--nordic {
    background-image: url("../img/icons/nordic.svg");
  }

  &--likes {
    background-image: url("../img/icons/heart-likes.svg");
    background-position: 7px 6px;
  }

  &--cute {
    background-image: url("../img/icons/yarn.svg");
    background-position: 3px 3px;
  }

  &--homies {
    background-image: url("../img/icons/rocket.svg");
    background-position: 0 4px;
  }

  &--present {
    background-image: url("../img/icons/present.svg");
    background-position: 3px 2px;
  }
}
