/*
1. добавить пиксель гласс
2.
3.
4.
*/
//catalog-item.less
.catalog-item__button-icon {
  position: absolute;
  top: 23px;
  right: -5px;

  @media (min-width: @tablet) {
    top: 22px;
    right: 0;
  }
}

//production.les
