.catalog-item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    flex-direction: row;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
  }
}

.catalog-item__img-link {
  order: -1;
  display: block;
}

.catalog-item__image {
  display: block;
  width: 260px;
  height: 195px;
  object-fit: cover;

  @media (min-width: @tablet) {
    width: 334px;
    height: 334px;
  }
}

.catalog-item__wrap {
  padding: 30px 30px 0 30px;
  border: 1px solid @block-shadow;

  @media (max-width: @tablet - 1) {
    border-top: none;
  }

  @media (min-width: @tablet) {
    flex-grow: 1;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    border-left: none;
  }

  @media (min-width: @desktop) {
    flex: 1 1 0; //без этого свойства грид раскладка не работает и цена выпадает из контейнера
    border-top: none;
    border-left: 1px solid @block-shadow;
  }
}

.catalog-item__title-link {
  display: block;
}

.catalog-item__title {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: @black;
}

.catalog-item__info {
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 22px 0;
  font-size: 15px;
  font-weight: 700;
  color: @black;
  border-top: 1px solid @block-shadow;
}

.catalog-item__button {
  border: none;
  background-color: transparent;
}
