.catalog-page {
  margin-bottom: 58px;
}

.catalog-page__main-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog-page__list {
  .clear-list;
  margin-bottom: 30px;
}

.catalog-page__item:not(:last-child) {
  margin-bottom: 30px;
}
