.categories {
  position: relative;
  background-color: @hero-bg;

  @media (min-width: @tablet) {
    .white-zigzag;
  }
}

.categories__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    margin: 0 auto;
    flex-direction: row;
    width: 668px;
  }

  @media (min-width: @desktop) {
    width: 1050px;
  }
}

.categories__link {
  flex-grow: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: @white;
  background-color: @tiffany;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: min-content 1fr;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 17.5%;
    transform: translate(50%, -50%);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;

    @media (min-width: @desktop) {
      top: 48%;
      right: 11%;
    }
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--left {
    &:hover {
      background-color: @tiffany-light;
    }

    &::after {
      width: 40px;
      height: 62px;
      background-image: url("../img/icons/interior-category.svg");
    }
  }

  &--right {
    background-color: @tiffany-medium;

    &:hover {
      background-color: @tiffany-darker;
    }

    &::after {
      width: 60px;
      height: 60px;
      right: 18.5%;
      background-image: url("../img/icons/toys-category.svg");

      @media (min-width: @desktop) {
        right: 12.5%;
      }
    }
  }
}

.categories__inner-container {
  margin: 0 auto;
  width: 260px;
  min-height: 103px;
  padding: 24px 100px 30px 0;

  @media (min-width: @tablet) {
    padding: 26px 50px 34px 36px;
  }

  @media (min-width: @desktop) {
    min-height: 130px;
    //padding-bottom: 40px;
  }
}
