.contacts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contacts__title {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__list {
  display: grid;
  grid-template-columns: 70px 1fr;
  margin-top: 38px;
  margin-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  line-height: 30px;
}

.contacts__description {
  margin: 0;
}

.contacts__map {
  margin-bottom: 42px;
}

.contacts__button {
  margin: 0 auto;
}
