.contacts__container {
  position: relative;
  margin: 0;
  padding: 44px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .grey-wave;
  background-position: left top;
  //background: url("../img/zigzag-line-template.svg") left top repeat-x;

  @media (min-width: @tablet) {
    padding-top: 88px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop) {
    width: 1050px;
    margin: 0 auto;
    padding: 175px 0 105px 175px;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 650px;
  }
}

.contacts__inner-container {
  .container;
  margin-bottom: 61px;

  @media (min-width: @tablet) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop) {
    width: 100%;
    padding: 0;
  }
}

.contacts__title {
  position: relative;

  @media (max-width: @tablet - 1) {
    font-size: 18px;
  }

  @media (min-width: @tablet) {
    font-size: 43px;

    &::after {
      position: absolute;
      top: -24px;
      right: 3px;
      content: "";
      width: 47px;
      height: 81px;
      background: url("../img/icons/flag.svg") 0 0 no-repeat;
    }
  }

  @media (min-width: @desktop) {
    z-index: 5;
    max-width: 340px;
    font-size: 53px;

    &::after {
      left: -112px;
      top: -17px;
    }
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 72px 1fr;
  column-gap: 5px;
  margin: 0;
  margin-top: 28px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet) {
    grid-template-columns: 65px 235px 65px 235px;
    column-gap: 15px;
    font-size: 17px;
    margin-top: 48px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 72px 250px;
  }
}

.contacts__description {
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    margin-bottom: 25px;
  }
}

.contacts__email-link {
  position: relative;

  &::before {
    position: absolute;
    bottom: -3px;
    right: 0;
    left: 0;
    content: "";
    height: 1px;
    background-color: @tiffany;
  }

  &:hover,
  &:focus {
    color: @tiffany-darker;
  }

  &:hover::before {
    background-color: @tiffany-darker;
  }

  &:active::before {
    background-color: @tiffany-darker;
    opacity: 0.1;
  }
}

.contacts__map {
  display: block;
  margin-bottom: 42px;
  width: 100%;
  min-width: 320px;
  height: 454px;
  object-fit: cover;

  @media (min-width: @tablet) {
    width: 100%;
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop) {
    position: absolute;
    top: 95px;
    right: 0;
    width: 527px;
  }
}

.contacts__button {
  margin: 0 auto;
  width: 260px;

  @media (min-width: @tablet) {
    width: 230px;
  }

  @media (min-width: @desktop) {
    margin: 0;
    width: 230px;
  }
}
