.footer {
  background-color: @grey-bg;
}

.footer__container {
  .container;

  @media (min-width: @tablet) {
    .flex-container;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.footer__logo-link {
  display: none;

  @media (min-width: @tablet) {
    display: inline-block;
  }
}

.footer__socials-list {
  flex-basis: auto;
  border-bottom: 1px solid @socials-border-bottom;

  @media (min-width: @tablet) {
    border-bottom-color: transparent;
  }
}

.footer__copyright {
  flex-basis: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 32px 0 40px;
  min-height: 80px;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  color: @black;

  @media (min-width: @tablet) {
    justify-content: flex-end;
    padding-right: 0;
    max-width: 240px;
  }
}

.footer__copyright-link {
  .flex-container;
  //margin-left: 27px;
  align-items: center;
  //width: 100%;
  height: 38px;

  img {
    display: block;
    vertical-align: top;
    width: auto;
    height: 40px;
  }

  &:hover img {
    fill: @tiffany-darker;
  }

  &:active img {
    fill: @tiffany-darker;
    stroke-opacity: 0.3;
  }
}
