.footer {
  background-color: @grey-bg;
}

.footer__container {
  @media (min-width: @tablet) {
    .flex-container;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.footer__logo-link {
  display: none;

  @media (min-width: @tablet) {
    display: inline-block;
  }
}

.footer__socials-list {
  border-bottom: 1px solid @socials-border-bottom;

  @media (min-width: @tablet) {
    border-bottom-color: transparent;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 80px;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  color: @black;
}

.footer__copyright-link {
  .flex-container;
  margin-left: 27px;
  align-items: center;
  min-height: 34px;

  &:hover {
    fill: @tiffany-darker;
  }

  &:active {
    fill: @tiffany-darker;
    stroke-opacity: 0.3;
  }

  img {
    display: block;
    width: 24px;
    height: 34px;
  }
}
