.header-link {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 79px;
  padding: 22px 30px 22px 76px;

  img {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &:hover,
  &:focus {
    color: @text-grey-hover;

    img {
      fill: @tiffany;
    }
  }

  &:active {
    color: @text-grey-light;

    img {
      fill-opacity: 0.3;
    }
  }
}
