.header {
  position: relative;
}

.header__nav {
  display: grid;
  @media (min-width: @tablet) {
    .container;
    grid-template-columns: 320px 348px;
    grid-template-rows: auto auto;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 400px 1fr 348px;
    grid-template-rows: min-content auto;
  }
}

/* Кнопка открыть-закрыть меню */
.header__nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 79px;
  height: 79px;
  border: none;
  background: url("../img/icons/menu-open.svg") center center no-repeat;

  &--to-close {
    background-image: url("../img/icons/menu-close.svg");
  }

  @media (min-width: @tablet) {
    display: none;
  }
}
//Логотип
.header__logo-link {
  @media (min-width: @desktop) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__nav-list,
.header__order-list {
  .clear-list;

  &--closed {
    display: none;
  }
}

.header__nav-item,
.header__order-item {
  box-shadow: 0 1px @block-shadow,
    inset 0 1px @block-shadow;

  @media (min-width: @tablet) {
    box-shadow: none;
  }
}

.header__nav-list {
  @media (min-width: @tablet) {
    grid-column: ~"1 / 2";
    grid-row: ~"2 / 3";
    .flex-container;
    justify-content: space-between;
    font-size: 15px;
  }

  @media (min-width: @desktop) {
    grid-column: ~"1 / 2";
    grid-row: ~"1 / -1";
    .flex-container;
    justify-content: space-between;
    font-size: 17px;
  }
}

.header__nav-item {
  .flex-container;
  align-items: center;

  @media (min-width: @tablet) {
    width: 150px;

    &:nth-of-type(2n+1) {
      margin-right: 5px;
    }
  }

  @media (min-width: @desktop) {
    width: 185px;
  }

  &--desktop-only {
    display: none;
    font-size: 15px;

    @media (min-width: @desktop) {
      .flex-container;
    }
  }
}

.header__order-list {
  @media (min-width: @tablet) {
    .flex-container;
  }

  @media (min-width: @desktop) {
    grid-column: ~"-2 / -1";
  }
}

.header__order-item {
  @media (min-width: @tablet) {
    border-left: 1px solid @shadow-color;
  }

  @media (min-width: @tablet) {
    min-height: 89px;
  }
}

.header__nav-delivery {
  display: none;
  margin: 0;
  font-size: 15px;
  text-align: right;
  font-weight: 400;

  @media (min-width: @tablet) {
    grid-column: ~"2 / 3";
    grid-row: ~"2 / 3";
    .flex-container;
    align-items: center;
    justify-content: flex-end;
  }

  @media (min-width: @desktop) {
    grid-column: ~"-2 / -1";
    grid-row: ~"-2 / -1";
  }
}
