.header {
  position: relative;
}

.header__nav {
  display: grid;

  @media (min-width: @tablet) {
    .container;
    padding: 0;
    grid-template-columns: 320px 348px;
    grid-template-rows: min-content min-content;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 420px 1fr 348px;
  }
}

/* Кнопка открыть-закрыть меню */
.header__nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 79px;
  height: 79px;
  border: none;
  background: url("../img/icons/menu-open.svg") center center no-repeat;

  &--to-close {
    background-image: url("../img/icons/menu-close.svg");
  }

  @media (min-width: @tablet) {
    display: none;
  }
}
//Логотип
.header__logo-link {
  justify-content: center;

  @media (min-width: @tablet) {
    min-height: @header-tablet-height;
  }

  @media (min-width: @desktop) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__nav-list,
.header__order-list {
  .clear-list;

  &--closed {
    display: none;
  }
}

.header__nav-item,
.header__order-item {
  .flex-container;
  justify-content: center;
  box-shadow: 0 1px @block-shadow,
    inset 0 1px @block-shadow;

  @media (min-width: @tablet) {
    z-index: 5;
    box-shadow: none;
    min-height: @header-tablet-height;
  }
}
//Меню слева
.header__nav-list {
  @media (min-width: @tablet) {
    grid-column: ~"1 / 2";
    grid-row: ~"2 / -1";
    .flex-container;
    //justify-content: space-between;
    font-size: 15px;
  }

  @media (min-width: @desktop) {
    grid-column: ~"1 / 2";
    grid-row: ~"1 / 3";
    font-size: 17px;
  }
}
//Меню слева
.header__nav-item {
  @media (min-width: @tablet) {
    grid-column: ~"1 / 2";
    grid-row: ~"2 / 3";
    width: 150px;
    justify-content: flex-start;

    &:nth-of-type(2n+1) {
      margin-right: 5px;
    }
  }

  @media (min-width: @desktop) {
    width: 185px;

    &:nth-last-child(-n+2) {
      align-items: flex-start;
      font-size: 15px;
    }

    &:nth-child(2n) {
      padding-left: 30px;
    }

    &:nth-child(2) {
      //margin-right: auto;
      flex-grow: 1;
      border-left: 1px solid @black-opacity-10;
    }
  }

  &--desktop-only {
    display: none;
    font-size: 15px;

    @media (min-width: @desktop) {
      .flex-container;
    }
  }
}
//Меню справа
.header__order-list {
  @media (min-width: @tablet) {
    grid-row: ~"1 / 3";
    grid-column: ~"2 / 3";
    .flex-container;
    justify-content: flex-end;
    align-items: flex-start;
  }

  @media (min-width: @desktop) {
    grid-column: ~"3 / 4";
    grid-row: ~"1 / 3";
    //align-items: flex-start;
  }
}
//Меню справа
.header__order-item {
  align-items: center;

  @media (min-width: @tablet) {
    align-items: flex-start;
    min-height: @header-tablet-height;

    &:nth-child(-n+2) {
      align-items: center;
      border-left: 1px solid @black-opacity-10;
    }
  }

  &--delivery {
    display: none;

    @media (min-width: @tablet) {
      display: flex;
    }
  }
}

//внутренний контейнер для ссылок
.header__link-container {
  position: relative;
  .flex-container;
  align-items: center;
  width: 260px;
  min-height: 79px;
  padding: 15px 0 15px 46px;

  @media (min-width: @tablet) {
    margin: 0;
    padding-left: 0;
    padding-right: 10px;
    width: 100%;

    .header__nav-item & {
      align-items: flex-start;
    }
  }

  @media (min-width: @desktop) {
    .header__nav-item & {
      align-items: center;
    }

    .header__nav-item:nth-child(n+3) &,
    .header__order-item:nth-child(n+3) & {
      align-items: flex-start;
    }
  }

  &--logo {
    justify-content: center;
    padding: 0;

    @media (min-width: @tablet) {
      justify-content: flex-start;
    }
  }

  &--cart {
    @media (min-width: @tablet) {
      padding-left: 80px;
      padding-right: 0;
    }

    span {
      margin-left: 5px;
    }
  }

  &--search {
    @media (min-width: @tablet) {
      width: 82px;
    }
  }
}

.header__nav-delivery {
  @media (min-width: @tablet) {
    .flex-container;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 15px;
    text-align: right;
    font-weight: 400;
  }
}
