.header-link {
  .flex-container;
  align-items: center;
  color: @black;
  font-weight: 700;

  &:hover,
  &:focus {
    color: @text-grey-hover;

    .header-link__icon {
      fill: @tiffany;
    }
  }

  &:active {
    color: @text-grey-light;

    .header-link__icon {
      fill-opacity: 0.3;
    }
  }

  @media (min-width: @tablet) {
    box-shadow: none;
  }
}

.header-link__container {
  position: relative;
  .flex-container;
  align-items: center;
  margin: 0 auto;
  width: 260px;
  min-height: 79px;
  padding: 22px 0 22px 46px;

  @media (min-width: @tablet) {
    margin: 0;
    padding-left: 0;
    width: 100%;
    min-height: 89px;
  }

  &--logo {
    justify-content: center;
    padding: 0;

    @media (min-width: @tablet) {
      justify-content: flex-start;
    }
  }

  &--cart {
    @media (min-width: @tablet) {
      padding: 30px 0 30px 80px;
    }
  }

  &--search {
    @media (min-width: @tablet) {
      width: 82px;
    }
  }
}
//текст в ссылке Поиск
.header-link__search-text {
  @media (min-width: @tablet) {
    .visually-hidden;
  }
}
//интерактивные состояния и логотипа в шапке: смена прозрачности и самого изображения
.header-link__logo-img {
  width: 85px;
  height: 35px;

  &:hover,
  &:focus {
    fill-opacity: 0.6;
  }

  &:active {
    fill-opacity: 0.3;
  }

  &--mobile {
    @media (min-width: @tablet) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: @tablet) {
      display: block;
      width: 113px;
      height: 46px;
    }

    @media (min-width: @desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: @desktop) {
      display: block;
      width: 149px;
      height: 72px;
    }
  }
}

.header-link__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  @media (min-width: @tablet) {
    left: 32px;
  }
} //интерактивные состояния иконки в .header-link
