.index-page__hero {
  background-color: @hero-bg;
  background-image: url("../img/hero-bg.jpg");
  background-position: center -15px;
  background-size: auto 140%;
  background-repeat: no-repeat;

  @media (min-width: @tablet) {
    background-position: center 0;
    background-size: auto 119%;
  }

  @media (min-width: @desktop) {
    //background-position: center 0;
  }
}

.index-page__hero-container {
  .container;
  min-height: 283px;
  padding: 72px 30px 120px;

  @media (min-width: @tablet) {
    min-height: 625px;
    padding: 154px 90px 200px;
  }

  @media (min-width: @desktop) {
    padding-top: 156px;
    padding-left: 175px;
    padding-right: 175px;
  }
}
