.main-title {
  padding: 75px 30px; // может это свойство вывести в order-page__main-title
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
  text-align: center;
  background-color: @grey-bg;
}
