.modal-order {
  margin: 0 auto;
  padding: 30px 30px 45px 30px;
  width: 320px;
  text-align: center;
  border: 1px solid @modal-border;
  box-shadow: 0 5px 10px @modal-shadow;

  @media (min-width: @tablet) {
    padding: 50px 108px 40px;
    width: 566px;
  }
}

.modal-order__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  text-transform: uppercase;
}

.modal-order__text {
  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet) {
    font-size: 17px;
  }
}

.modal-order__size {
  display: inline-block;
  min-width: 82px;
  padding: 18px;
  border: 2px solid @block-shadow;

  @media (min-width: @tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 112px;
    min-height: 52px;
  }

  &:hover,
  &:focus {
    border-color: @text-grey-opacity-30;
  }
}

.modal-order__label {
  input:focus + .modal-order__size {
    border-color: @text-grey-opacity-30;
  }

  input:checked + .modal-order__size {
    border-color: @tiffany;
  }
}

.modal-order__button {
  width: 100%;
  margin-top: 30px;
  color: white;
  background-color: @tiffany;
  border-color: @tiffany;

  &:hover,
  &:focus {
    background-color: @tiffany-darker;
    border-color: @tiffany-darker;
  }

  &:active {
    color: @white-opacity-30;
  }
}
