.order-page {
  margin-bottom: 55px;

  @media (min-width: @tablet) {
    margin-bottom: 50px;
  }
}

.order-page__title-container {
  position: relative;
  background-color: @grey-bg;

  @media (min-width: @tablet) {
    .white-wave;
  }
}

.order-page__main-title {
  .container;
  padding: 74px 0 73px;

  @media (min-width: @tablet) {
    padding: 100px 130px 75px;
    min-height: 238px;
  }

  @media (min-width: @desktop) {
    padding-left: 175px;
    padding-right: 175px;
    min-height: 272px;
  }
}
