.order-form {
  display: flex;
  flex-direction: column;
}

.order-form__lead {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 13px;
}

.order-form__fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;

  &:last-of-type {
    margin-bottom: 17px;
  }
  //@media min-width: @tablet-width;
  // и паддинги сверху и снизу добавляются
  //&:nth-of-type(2n) {
  //  background-color: @grey-bg;
  //}
}

.order-form__legend {
  margin-bottom: 28px;
}

.order-form__label:not(:last-child) {
  margin-bottom: 20px;
}

.order-form__required-text {
  display: block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

.order-form__button {
  width: 100%;
}
