.order-page {
  margin-bottom: 55px;

  @media (min-width: @tablet) {
    margin-bottom: 50px;
  }
}

.order-page__main-title {
  position: relative;

  @media (min-width: @tablet) {
    .white-zigzag;
  }
}

.order-page__title-container {
  .container;
  min-height: 177px;
  padding: 73px 0 60px;

  @media (min-width: @tablet) {
    padding: 100px 130px 75px;
    min-height: 238px;
  }

  @media (min-width: @desktop) {
    padding-left: 175px;
    padding-right: 175px;
    min-height: 272px;
  }
}
