.order-form {
  display: flex;
  flex-direction: column;
  padding-top: 17px;

  @media (min-width: @tablet) {
    padding-top: 54px;
  }
}

.order-form__lead {
  margin: 0;
  margin-bottom: 30px;
  font-size: 13px;

  @media (min-width: @desktop) {
    padding-left: 175px;
    padding-right: 175px;
    font-size: 17px;
  }
}

.order-form__fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;

  &:last-of-type {
    margin-bottom: 17px;
  }

  @media (min-width: @tablet) {
    &:nth-of-type(2n) {
      background-color: @grey-bg;
    }
  }
}

.order-form__fieldset-container {
  .container;

  @media (min-width: @tablet) {
    position: relative;
    padding: 50px 30px 50px 170px;

    &--for-checkboxes {
      column-count: 2;
    }
  }

  @media (min-width: @desktop) {
    padding-left: 175px;
    padding-right: 175px;

    &--for-checkboxes {
      column-count: 3;
      padding-right: 90px;
    }
  }
}

.order-form__legend {
  margin-bottom: 28px;

  @media (min-width: @tablet) {
    position: absolute;
    top: 60px;
    left: 50px;
    margin: 0;

    &--in-label {
      top: 15px;
      left: -125px;
    }
  }
  /*
  @media (min-width: @desktop) {
    left: 75px;
      &--in-label {
        left: -95px;
      }
  }*/
}

.order-form__label:not(:last-child) {
  margin-bottom: 20px;
}

.order-form__textarea {
  padding: 17px;
  width: 100%;
  min-width: 260px;
  height: 142px;
  font-size: 17px;
  line-height: 17px;
  color: @black-opacity-30;
}

.order-form__button-container {
  .container;

  @media (min-width: @tablet) {
    .flex-container;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.order-form__required-text {
  display: block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet) {
    order: 1;
    margin-bottom: 0;
  }
}

.order-form__button {
  width: 100%;

  @media (min-width: @tablet) {
    width: 230px;
  }
}
