.production-video {
  margin: 0 auto;
  padding-bottom: 50px;
  border: 1px solid @block-shadow;
}

.production-video__title {
  margin: 0;
  padding: 30px 30px 30px 90px;
  font-size: 17px;
  color: @black;
  background: url("../img/icons/video-icon.svg") 30px 50% no-repeat;
}

.production-video__description {
  margin: 0;
  padding: 35px 30px 40px 35px;
  font-size: 12px;
}

.production-video__button {
  margin: 0 auto;
  width: 192px;
}
