.production-video {
  margin: 0 auto;
  padding-bottom: 50px; //может в catalog-page.less
  border: 1px solid @block-shadow;

  @media (min-width: @tablet) {
    .flex-container;
    flex-direction: column;
    padding-bottom: 46px;
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 683px 1fr;
    grid-template-rows: auto auto;
    padding-bottom: 0;
  }
}

.production-video__title {
  margin: 0;
  padding: 30px 30px 30px 90px;
  font-size: 17px;
  color: @black;
  background: url("../img/icons/video-icon.svg") 30px 50% no-repeat;

  @media (min-width: @tablet) {
    margin-bottom: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    background-position: 40px 50%;
  }

  @media (min-width: @desktop) {
    grid-column: ~"2 / 3";
    align-self: flex-start;
    padding: 96px 50px 0 79px;
    background-position: 79px 40px;
  }
}

.production-video__video {
  width: 100%;
  height: auto;

  @media (min-width: @tablet) {
    order: -1;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop) {
    grid-column: ~"1 / 2";
    grid-row: ~"1 / -1";
    margin-bottom: 0;
    width: 100%;
    height: 455px;
  }
}

.production-video__description-wrap {
  @media (min-width: @tablet) {
    padding: 0 40px;
  }

  @media (min-width: @desktop) {
    grid-column: ~"2 / 3";
    align-self: flex-end;
    padding-left: 79px;
    padding-bottom: 60px;
  }
}

.production-video__description {
  margin: 0;
  padding: 35px 30px 40px 35px;
  font-size: 12px;

  @media (min-width: @tablet) {
    margin-bottom: 40px;
    padding: 0;
    font-size: 15px;
  }
}

.production-video__button {
  margin: 0 auto;
  width: 192px;

  @media (min-width: @tablet) {
    width: 100%;
  }
}
