.promo {
  padding: 30px;
  background: url("../img/zigzag-line-template.svg") left bottom repeat-x;
}

.promo__product-title {
  margin: 0;
}

.promo__heading {
  line-height: 20px;
  font-weight: 700;
  color: @tiffany;
  text-transform: uppercase;
}

.promo__description {
  font-size: 15px;
}

.promo__properties-list {
  margin: 0;
  padding: 0;
}

.promo__image {
  display: block;
  margin-top: 28px;
  margin-bottom: 25px;
}

.promo__price {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}
