.reviews {
  padding: 30px 30px 45px 30px;
  background: url("../img/zigzag-line-template.svg") left bottom repeat-x;
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  color: @black;
}

.reviews__author-link {
  line-height: 30px;
}

.reviews__navigation-wrap {
  display: flex;
  width: 260px;
  min-height: 30px;
  margin-bottom: 38px;
}
