.reviews {
  @media (min-width: @tablet) {
    background: url("../img/review-background@1x.jpg") left top / 350px auto no-repeat;
  }

  @media (min-width: @desktop) {
    background: none;
  }
}

.reviews__container {
  position: relative;
  padding-top: 8px;
  padding-bottom: 45px;

  @media (min-width: @tablet) {
    padding-top: 85px;
    padding-bottom: 115px;
  }

  @media (min-width: @desktop) {
    padding-top: 78px;
    padding-left: 175px;
    padding-bottom: 160px;
    background: url("../img/review-background@1x.jpg") left top / 350px auto no-repeat;
  }
}

.reviews__title {
  margin-bottom: 13px;

  @media (min-width: @tablet) {
    padding-right: 190px;
    margin-bottom: 0;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet) {
    margin-top: 38px;
    margin-bottom: 0;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet) {
    font-size: 17px;
    margin-bottom: 60px;
    text-shadow: 0 0 3px @white;
  }

  @media (min-width: @desktop) {
    margin-bottom: 42px;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 3px;
  vertical-align: middle;
  font-style: normal;
  font-weight: 700;
  color: @black;
}

.reviews__author-link {
  display: block;
  vertical-align: middle;
  line-height: 30px;
}

.reviews__navigation-wrap {
  display: flex;
  min-height: 30px;
  margin-bottom: 38px;

  @media (min-width: @tablet) {
    position: absolute;
    bottom: 118px;
    right: 50px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    right: 0;
    bottom: 162px;
  }
}

.reviews__feedback-button {
  @media (min-width: @tablet) {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
  }

  @media (min-width: @desktop) {
    right: 0;
  }
}
