@white: #fff;
@black: #000;

@tiffany: #63d1bb;
@tiffany-light: #59d5bc; // наведение на левый блок
@tiffany-medium: #56c3b2; // цвет правого блока
@tiffany-darker: #46c1ae; // наведение на правый блок, он же для ссылок, и ховер на лого в подвале
@tiffany-extra-dark: #149080; // цвет иконок лампы и лего

@grey-bg: #f1f1f1;
@hero-bg: #fafafa;
@text-grey: #444;
@socials-border-bottom: #e5e5e5;
@modal-border: #c6c6c6;
@block-shadow: #ececec;
@modal-shadow: rgba(0, 1, 1, 0.25);
@text-grey-opacity: fade(@text-grey; 30%); //30%
@text-grey-hover: rgba(0, 0, 0, 0.6);
@text-grey-light: rgba(0, 0, 0, 0.3); // placeholders @text-light:
@white-opacity: rgba(255, 255, 255, 0.3);
@input-icon: rgba(0, 0, 0, 0.2);
@socials-icon: #231f20;
@shadow-color: rgba(0, 0, 0, 0.1);

@tablet: 768px;
@desktop: 1150px;
