@white: #fff;
@black: #000;
@grey-bg: #f1f1f1;
@tiffany: #63d1bb;
@tiffany-light: #59D5BC; // наведение на левый блок
@tiffany-medium: #56c3b2; // цвет правого блока
@tiffany-darker: #46C1AE; // наведение на правый блок, он же для ссылок
@tiffany-extra-dark: #149080; // цвет иконок лампы и лего
@text-grey: #444;
@text-light: rgba(0, 0, 0, 0.3);
@input-icon: rgba(0, 0, 0, 0.2);
@white-opacity: rgba(255, 255, 255, 0.3);
@socials-icon: #231F20;
@shadow-color: rgba(0, 0, 0, 0.1);
